<!doctype html>
<html>
<head>
<meta charset="utf-8"> 
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script>
var i=0;
var app = angular
.module("persModul", [])
.controller("persController", function ($scope) {
 
var personeller=[
{isim:"Hayri",soyisim:"KARA",dogum:new Date(1988,7,10),maas:3000},
{isim:"Yaşar",soyisim:"DOĞAN",dogum:new Date(1988,3,30),maas:2500},
{isim:"İsmet",soyisim:"ULUÇ",dogum:new Date(1983,6,20),maas:2700},
{isim:"Ayşe",soyisim:"YURT",dogum:new Date(1968,6,15),maas:3500},
{isim:"Sunay",soyisim:"YERLİ",dogum:new Date(1998,6,10),maas:2850},
{isim:"Nazmiye",soyisim:"ÇARIKÇI",dogum:new Date(1995,4,10),maas:2000}
];
 
$scope.personeller = personeller;
 
$scope.sutunSirala = "isim";
$scope.cevir = false;
 
$scope.veriSirala = function (sutun) {
$scope.cevir = ($scope.sutunSirala == sutun) ? !$scope.cevir : false;
$scope.sutunSirala = sutun;
}
 
$scope.siralaClass = function (sutun) {
 
if ($scope.sutunSirala == sutun) {
return $scope.cevir ? 'azalan' : 'artan';
}
return '';
 
} 
 
});
 
</script>
<style>
.artan{
background:url(yukari.png);
background-position: left center;
background-repeat: no-repeat;
}
.azalan{
background:url(asagi.png);
background-position: left center;
background-repeat: no-repeat;
}
 
</style>
</head>
<body ng-app="persModul">
<div ng-controller="persController">
<table border="1" width="430">
<thead>
<tr>
<th ng-click="veriSirala('isim')"><div ng-class="siralaClass('isim')">İsim</div></th>
<th ng-click="veriSirala('soyisim')"><div ng-class="siralaClass('soyisim')">Soyisim</div></th>
<th ng-click="veriSirala('dogum')"><div ng-class="siralaClass('dogum')">Doğum Tarihi</div></th>
<th ng-click="veriSirala('maas')"><div ng-class="siralaClass('maas')">Maaş</div></th>
</tr>
</thead>
<tbody>
<tr ng-repeat="personel in personeller | orderBy:sutunSirala:cevir">
<td> {{ personel.isim | uppercase }} </td>
<td> {{ personel.soyisim }} </td>
<td> {{ personel.dogum | date:'dd-MM-yyyy'}} </td>
<td> {{ personel.maas |number :2 }} </td>
</tr>
</tbody>
</table>
</div>
</body>
 
</html>
