<!doctype html>
<html>
<head>
<meta charset="utf-8"> 
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js" ></ script>
  <script src="kod.js"></script>
 </head>

<body ng-app="persModul">
<div ng-controller="persController">
<div>
<input type="text" ng-model="araMetin" placeholder="İsim Girin">
</div>
 
<table border=1>
<thead>
<tr>
<th>İSİM</th>
<th>SOYİSİM</th>
<th>TARİH</th>
<th>MAAŞ</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="personel in personeller |filter:arama">
<td> {{ personel.isim }} </td>
<td> {{ personel.soyisim }} </td>
<td> {{ personel.cinsiyet }} </td>
<td> {{ personel.maas }} </td>
</tr>
</tbody>
</table>
</div>
 
 <script src="kod.js"></script>
</body>
</html>
