<!doctype html>
<html>
<head>
    
<meta charset="utf-8"> 
 <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" >

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <!--Angular Js Kütüphanesi-->
      <link rel="stylesheet" href="tasarim.css">
        <script src="angular.min.js"></script>
        <script src="angular-file-upload.js"></script>
        <script src="controllers.js"></script>
    </head>

    <!--AngularJs Kütüphanesi-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script>
var myApp = angular.module('myApp', []);
 
myApp.directive('fileModel', ['$parse', function ($parse) {
return {
restrict: 'A',
link: function(scope, element, attrs) {
var model = $parse(attrs.fileModel);
var modelSetter = model.assign;
 
element.bind('change', function(){
scope.$apply(function(){
modelSetter(scope, element[0].files); 
});
});
}
};
}]);
 
myApp.service('dosyaYukle', ['$http', function ($http) {
this.uploadFileToUrl = function(dosyalar, yuklemeAdres){
 
/*döngü ile seçilen dosyaları yukleme klasörüne tek tek yüklüyoruz.*/
for (var i in dosyalar) 
{
var fdata = new FormData();
fdata.append("file", dosyalar[i]); /*$_FILES['file'] olarak çağrılacak kısım*/
console.log(dosyalar[i]);
 
$http.post(yuklemeAdres, fdata, {
transformRequest: angular.identity,
headers: {'Content-Type': undefined}
})
 
.success(function(data){
console.log(data);
})
 
.error(function(data){
console.log(data);
}); 
} 
}
}]);

//upload.php dosyasını oluşturmayı unutmayın.
myApp.controller('myCtrl', ['$scope', 'dosyaYukle', function($scope, fileUpload){
$scope.dosyaYukleyici = function(){
var file = $scope.dosya;
 
var yuklemeAdres = "upload.php";
fileUpload.uploadFileToUrl(file, yuklemeAdres);
};
}]);
 
</script>
    
    <!--Sayfanın Style Kısmı-->
    
    
    <style>
         h1{
           text-align: center;
           text-shadow: 2px 2px 3px black;
           
       }
       h2{
        text-shadow: 2px 2px 3px black;
        margin-left: 10px;
       }
       h3{
        text-shadow: 2px 2px 3px black;
        margin-left: 10px;
       }
       .p1{
         color: black;
         font-size: 20px;
         margin-left: 10px;
         
      }
      .title1{
        color:black;
        text-shadow: 2px 2px 3px black;
      }
        body{
        background-image: url(resim1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
       }
    </style>

    
    <!--Sayfanın Başlığı-->
    
    <body>

        <h1><font color="black" size="7" face="Perpetua">ANGULARJS İLE ARAMA FİLTRESİ YAPIMI</font></h1>
        
    </body>
    
    
    
    
    
    <!--//Eklemeli Tablo kısmı :)-->
    
<html lang="tr">
<head>
 <!---->
  <style>
    #sayfa{
      width: 500px;
      margin:auto;
      padding:20px;
       
    }
    label{
      display:block;
      margin-top:5px;
    }
    input{
      width: 200px;
      height: 25px;
      font-size:1.2em;
       margin-left: 5px;
    }
    button{
      border:none;
      display:block;
      margin-top:5px;
      width: 204px;
      height: 50px;
      text-align: center;
      font-size:1.2em;
      
    }
    table{
      background:lightblue;
      margin:10px;
      width: 80%;
      color:black;
    }
    td,th{
      border:1px solid white;
      border-spacing: 0px;
      margin: 0px;
    }
  </style>
    
</head>
    

<body>
  <div id="sayfa">
    <label>Ad:</label>    <input type="text"  id="ad">
    <label>Soyad:</label> <input type="text"  id="soyad">
    <label>Yaş:</label>   <input type="number"  id="yas">
    <button id="ekle">Tabloya Ekle</button>
  <table id="liste">
      <tr>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Yaş</th>
      </tr>
  </table>
  </div>
    
 <!--//Eklemeli Tablo Script Kısmı :)-->
    
  <script>
    const ad=document.querySelector("#ad");
    const soyad=document.querySelector("#soyad");
    const yas=document.querySelector("#yas");
    const ekle=document.querySelector("#ekle");
    const liste=document.querySelector("#liste");
 
    ekle.onclick=function(){
     
      
     
      let tAd=document.createElement("td");
      let tSoyad=document.createElement("td");
      let tYas=document.createElement("td");
 
      tAd.textContent=ad.value;//textboxtan değeri okuyup aktardım.
      tSoyad.textContent=soyad.value;//textboxtan değeri okuyup aktardım.
      tYas.textContent=yas.value;//textboxtan değeri okuyup aktardım.
 
     //TR Yİ OLUŞTURDUM
      let tr=document.createElement("tr");
 
      //tdleri tr içine ekliyoruz
      tr.appendChild(tAd);
      tr.appendChild(tSoyad);
      tr.appendChild(tYas);
 
      //tr elementini liste (tablo) içine ekliyoruz
      liste.appendChild(tr);
 
      //nenelerin için eklemeden sonra temizleyelim
      ad.value="";
      soyad.value="";
      yas.value="";
 
      //temizlemeden sonra ad içine odaklansın
      ad.focus();
    }
 
  </script>
</body>
</html>
    
    
    
    
    
    
    <!--Eklemesiz Tablo Body kısmı:)-->
    
    <body ng-app="persModul">
        
<div ng-controller="persController">
<div>
<input type="text" ng-model="arama.isim" placeholder="İsim Girin">
<input type="text" ng-model="arama.cinsiyet" placeholder="Cinsiyet Girin">
<input type="checkbox" ng-model="tamEslestir" >Tam Eşleştir
</div>
 
<center><table border=1>
<thead>
<tr>
<th>İSİM</th>
<th>SOYİSİM</th>
<th>TARİH</th>
<th>MAAŞ</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="personel in personeller |filter:arama:tamEslestir ">
<td> {{ personel.isim }} </td>
<td> {{ personel.soyisim }} </td>
<td> {{ personel.cinsiyet }} </td>
<td> {{ personel.maas }} </td>
</tr>
</tbody>
</table>
    </center>
</div>
        
        
</body>
    
  
     <!--Eklemesiz Tablo script kısmı :)-->
    
<script>
 
var app = angular
.module("persModul", [])
.controller("persController", function ($scope) {
 
var personeller=[
{ "isim": "Barış","soyisim": "Kıyıpınar","cinsiyet": "Erkek","maas": "3569" },
{ "isim": "Elif","soyisim": "Gül","cinsiyet": "Kız","maas": "4143" },
{ "isim": "Ali","soyisim": "Karadağ","cinsiyet": "Erkek","maas": "2705" },
{ "isim": "Şeyma","soyisim": "Karadağ ","cinsiyet": "Kız","maas": "2337" },
{ "isim": "Çağlar","soyisim": "Alkan","cinsiyet": "Erkek","maas": "1883" },
{ "isim": "Mustafa","soyisim": "Düşer","cinsiyet": "Erkek","maas": "3869" },
{ "isim": "Süreyya","soyisim": "Karakaya","cinsiyet": "Kız","maas": "1796" },
{ "isim": "Osman","soyisim": "Abacılı","cinsiyet": "Erkek","maas": "4054" },
{ "isim": "Fatma","soyisim": "Şafak","cinsiyet": "Kız","maas": "2703" },
];
 
$scope.personeller = personeller;
});
 
</script>


    <body>
<br><br>

     <u> <h2><font color="black" size="6" face="Perpetua">AngularJS Nasıl Kullanılır? </font></h1></u>
      <p class="p1">AngularJS Kütüphanesini kullanarak rahatlıkla ve hızlıca dinamik sayfalarınızı oluşturabilirsiniz performans açısındanda sayfaları refresh etmekden tek sayfalı projeler gerçekleştirebilirsiniz.<br> Bu şekilde kullanıcıların daha rahat ve hızlıca işlem yapmasını sağlamış olacaksınız.<br><br>

        Öncelikle angularjs ile ilgili gerekli detaylı bilgilere <font color="blue" >https://angularjs.org/ </font>adresinden ulaşabilirsiniz. AngularJs örneklerimizde alttaki angular kütüphanesini kullanacağız <br>bu javascript kütüphanesini projenize dahil etmelisiniz.</p>



       <h3><font color="black" size="5" face="Perpetua">HTML </font></h3>

        <img src="scriptkod1.png" style="margin-left: 10px;"><br>
<br>
        <p class="p1">AngularJS ile değerler üzerinde matematiksel veya string birleştirme gibi işlemleri direk olarak HTML içerisinde yapmak için alttaki gibi bir blok kullanmalısınız.
        <br><br>
        <marquee direction="down"><font face="Perpetua " color="red" size="5" class="title1">Örnek😀</marquee>
          <br><br>
          4 + 3 = { 4 + 3 }
          <br>
          Eğer angular kütüphanesini sayfanıza dahil etmediyseniz sayfada direk olarak { 4 + 3 } düz bir metin şeklinde gözükecektir.</p>

        <br>
        <u> <h2><font color="black" size="5" face="Perpetua">Modül Oluşturma</font></h1></u>
          <p class="p1">Modül oluşturmak için aşağıdaki gibi bir sözdizimi kullanmanız gerekmektedir.</p>
          <p class="p1"> <font color="blue"> var app = angular.module('gemStore', []);</font></p>
          <p class="p1">Üstteki kodda gemStore diye adlandırılan kısım module adı oluyor html tarafında ng-app attribute’ümüze bu adı vereceğiz. ikinci parametrede ise köşeli parantezler içerisine modül bağımlılıkları eklenecek.</p>
          <br>
        <img src="Gif1.gif" style="width:200px;height: 200px;margin-left: 50px;margin: 30px;" alt="Angularjs ile arama filtresi olusturma">
      
    </body>


 
</html>
